h1{
	color: #f1c4cd;
 	font-family: 'Russo One', sans-serif;
}

h2{
	color: #a7535a;
}

#sign{
	color:#4c1f24;
	font-family: 'Indie Flower', cursive;

}

#Top{
	background-color: #ef9a5d;
	height: 250px;
	font-size:130%;
}

#Top:hover{
	background-color: #fcc307;
	transition: background-color 1s;
	height: 250px;
}

#Menu1,a{
 	background-color: #ef9a5d;
 	color:red;
}

.movieTitle{
	bottom: 0;
	position: absolute;
    color: transparent;
}

.movieTitle:hover{
	color: black;
	background-color: white;
}

#Body{
	
	position: relative;
	float: left;
	clear: left;
}

body{
	margin: 0;
	background-color: #f1c4cd;
}

#right,a{
	background-color: #f1c4cd;
    color: #f1c4cd;
    clear: both;
}

#right:hover{
	background-color: #b89485;
	transition: background-color 1s;
}

#AGE{
	background-color:#8fb2c9 ;
	color:#f1c4cd;
	margin-left:10%;
	width: 20%;
	position: relative;
	float: left;
	font-family: 'Coda Caption', sans-serif;
	font-size: 110%;

}

#NAME{
	float:left;
	background-color:#8fb2c9 ;
	color: #f1c4cd;
	margin-left:10%;
	width: 20%;
	position: relative;
	font-family: 'Coda Caption', sans-serif;
    font-size: 110%;
}

#HOMETOWN{
	float:left;
	background-color:#8fb2c9 ;
	color: #f1c4cd;
	margin-left:10%;
	width: 20%;
	position: relative;
	font-family: 'Coda Caption', sans-serif;
    font-size: 110%;
}
#music{
	position: relative;
	float: left;
	clear: left;
}

#animes{
	position: relative;
	float: left;
	clear: left;
}

#hobby{
	position: relative;
	float: center;
	clear: left;
	color: #2b1216;
	background-color:#7a7374;
	font-size: 120%;
}

#drama{
    position: relative;
	float: left;
	clear: left;
}


.col{
	color: #f1c7cd;
	margin: 1%;
    width: 20%;
    /*padding:20px;*/
    float: left;
    position: relative;
    font-size: 110%;
}

.cell{
	width:95%;
}
#Q1{
	background-color: #dd6969;
}

#Q1:hover{
	background-color: black;
	transition: background-color 1s;
}

#Q2{
	background-color: #f58569;
}

#Q2:hover{
	background-color: black;
	transition: background-color 1s;
}

#Q3{
    background-color: #f1b532;	
}

#Q3:hover{
	background-color: black;
	transition: background-color 1s;
}

#Q4{
    background-color: #5dbe8a;
}

#Q4:hover{
	background-color: black;
	transition: background-color 1s;
}

#Q5{
    background-color: #12aa9c;
}

#Q5:hover{
	background-color: black;
	transition: background-color 1s;
}

#Q6{
    background-color: #93d5d7;
}

#Q6:hover{
	background-color: black;
	transition: background-color 1s;
}

#Q7{
    background-color: #c8adc4;
}

#Q7:hover{
	background-color: black;
	transition: background-color 1s;
}

#Q8{
    background-color: #aa6a4c;
}

#Q8:hover{
	background-color: black;
	transition: background-color 1s;
}

#Q9{
    background-color: #b7a091;
}

#Q9:hover{
	background-color: black;
	transition: background-color 1s;
}

#Q10{
    background-color: #f2e6ce;
}

#Q10:hover{
	background-color: black;
	transition: background-color 1s;
}






#about{
	font-family: 'Coda Caption', sans-serif;
    font-size: 120%;
}

#lit{
	font-family: 'Coda Caption', sans-serif;
    font-size: 120%;
}

#gallery,a{
	background-color: #f1c4cd;
    color: #f1c4cd;
    clear: both;
}

#gallery:hover{
	background-color: #b89485;
	transition: background-color 1s;
}

.photo{
	background-color: brown;
    color: black;
    clear: both;
    font-family: 'Permanent Marker', cursive;

}

#contant,a{
	background-color: #f1c4cd;
    color: #f1c4cd;
    clear: both;
}

#contant:hover{
	background-color: #b89485;
	transition: background-color 1s;
}

.address{
	clear: both;
	color: brown;
	font-size: 200%;
	font-family: 'Permanent Marker', cursive;
}

.ad{
	clear: both;
	bottom: -10px;
	position: absolute;
    color: transparent;
    font-size: 150%;
}

.ad:hover{
	color: black;
	background-color: #f1c4cd;
	font-size: 150%;
}

#ad1{
	bottom: 200px;
}

#ad2{
	bottom: 120px
}

#ad3{
	bottom: 50px;
}