h1{
	color: #f1c4cd;
    font-family: 'Knewave', cursive;
}

h2{
	color: #eea2a4;
}

#sign{
	color:#4c1f24;
	font-family: 'Indie Flower', cursive;

}

#Top{
	background-color: #f8df72;
	height: 250px;
	font-size:130%;
}

#Top:hover{
	background-color: #fcc307;
	transition: background-color 1s;
	height: 250px;
}

.movieTitle{
	bottom: 0;
	position: absolute;
    color: transparent;
}

.movieTitle:hover{
	color: black;
	background-color: white;
}

#Body{
	
	position: relative;
	float: left;
	clear: left;
}

body{
	margin: 0;
	background-color: #f1c4cd;
}

#right{
	background-color: #f1c4cd;
    color: #f1c4cd;
}

#right:hover{
	background-color: #b89485;
	transition: background-color 1s;
}

#AGE{
	background-color:#8fb2c9 ;
	color:#f1c4cd;
	margin-left:10%;
	width: 20%;
	position: relative;
	float: left;
	font-family: 'Coda Caption', sans-serif;
	font-size: 110%;

}

#NAME{
	float:left;
	background-color:#8fb2c9 ;
	color: #f1c4cd;
	margin-left:10%;
	width: 20%;
	position: relative;
	font-family: 'Coda Caption', sans-serif;
    font-size: 110%;
}

#HOMETOWN{
	float:left;
	background-color:#8fb2c9 ;
	color: #f1c4cd;
	margin-left:10%;
	width: 20%;
	position: relative;
	font-family: 'Coda Caption', sans-serif;
    font-size: 110%;
}
#music{
	position: relative;
	float: left;
	clear: left;
}

#animes{
	position: relative;
	float: left;
	clear: left;
}

#hobby{
	position: relative;
	float: center;
	clear: left;
	color: #2b1216;
	background-color:#7a7374;
	font-size: 120%;
}

#drama{
    position: relative;
	float: left;
	clear: left;
}


.col{
	color: #f1c7cd;
	margin: 1%;
    width: 20%;
    /*padding:20px;*/
    float: left;
    position: relative;
    font-size: 110%;
}

.cell{
	width:95%;
}
#Q1{
	background-color: #dd6969;
}

#Q2{
	background-color: #f58569;
}

#Q3{
    background-color: #f1b532;	
}

#Q4{
    background-color: #5dbe8a;
}

#Q5{
    background-color: #12aa9c;
}

#Q6{
    background-color: #93d5d7;
}


#Q7{
    background-color: #c8adc4;
}

#Q8{
    background-color: #aa6a4c;
}

#Q9{
    background-color: #b7a091;
}

#Q10{
    background-color: #f2e6ce;
}








#Menu1, a{
	color: #f8df72;
	margin: 20px;
	float:left;
	font-family: 'Oswald', sans-serif;

}

#Title{
	float:left;
	margin-left: 100px;
}	