h1{
	color: #ef82a0;
    font-family: 'Wendy One', sans-serif;
}

h2{
	color: #93d5d7;
}

#sign{
	color:#4c1f24;
}

#Top{
	background-color: #f8df72;
	height: 200px;
}

#Top:hover{
	background-color: #fcc307;
	transition: background-color 1s;
	height: 200px;
}

#Body{
	background-color: #f1c4cd;
}

body{
	margin: 0;
}

#right{
	background-color: #f1c4cd;
    color: #f1c4cd;
}

#right:hover{
	background-color: #b89485;
	transition: background-color 1s;
}

#AGE{
	background-color: #ef82a0;
	color: #525288;
	margin-left:50px;
	width: 150px;
	position: relative;
	float: left;
}

#NAME{
	float:left;
	background-color: #ef82a0;
	color: #525288;
	margin-left:50px;
	width: 150px;
	position: relative;
}

#HOMETOWN{
	float:left;
	background-color: #ef82a0;
	color: #525288;
	margin-left:50px;
	width: 250px;
	position: relative;
	float:clear;
}